.MuiFormLabel-root.Mui-focused {
    color: grey !important;
    font-size: 0rem;

}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: grey !important;
    margin:2.5rem 0;
    
}
.MuiInputBase-root{
    font-size: 2.5rem 0;
    color: grey !important;
    border-color: grey !important;
}
