.MuiFormLabel-root.Mui-focused {
    color: #fbb03b !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #fbb03b !important;
    margin:2.5rem 0;
}
.MuiInputBase-root{
    font-size: 1rem;
    color: #fbb03b !important;
}