@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{

 
  font-family: "work sans";
}

html{
  font-size: 100%;
}

#loginform{
  max-width: 500px;
  min-width: 350px;
  max-height: 550px;
  width: 30%;
  height: 60%;
   margin: -2px auto; 

  border-radius: 5px;
  box-shadow: 0px 2px 5px 6px #c2c0c2c9;
}
.forgot {
  float: right;
  margin-right: 45px;
margin-top: 16px;
  font-size: 14px;
}
.forgot a {
  color: red;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 1.8rem 0;
  margin: 0;
  font-size: 1.4rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  max-width: 100%;
  
}


.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(88, 88, 88, 0.301);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(195, 166, 34, 0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  font-size: 13px;
  
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
}

.row button{
  border-radius: 2px;
  width: 43%;
  height: 40px;
  margin-left: 170px;
  margin-top: 25px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.4;
}

#button{
  padding-bottom: 0.8rem;
}

#facebookIcon{
  background-image: url("../../assets/socialmedia/linkedin.png");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#twitterIcon{
  background-image: url("../../assets/socialmedia/github.png");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#googleIcon{
  background-image: url("../../assets/socialmedia/discord.png");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}


