#demo-simple-select{
  color: #fbb03b;
  font-family: "Work Sans", bold;
  width: 300px;
  font-weight:500;
  letter-spacing: -1px;
  word-spacing: 1px;
  position: relative;
  left: 8px;
}
.Options {
  font-size: small;
  font-weight: 650;
  font-family: "Work Sans", bold;
  color: rgb(58, 57, 57);
}
.Options:hover{
  color: rgb(236, 160, 19);
}

.Form {
  width: 900px;
  margin-left: 130px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.Button {
  margin-left: 20px;
  font-family: "Work Sans", bold;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.5s;
  color: #1C1C1C;
  background: #FBB03B;
}
