#HomePage {
  background: #1C1C1C;
}
#hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
  min-height: 800px;
  height: calc(100vh - 90px);
  background: #222222;
}
#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h1 span {
  border-bottom: 4px solid #FBB03B;
  font-size: 60px;
}

#hero h1 span:hover{
  border-bottom: 4px solid #1C1C1C;
  color: #FBB03B;
  font-size: 70px;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Work Sans", bold;
}

#hero .btn-get-started {
  font-family: "Work Sans", bold;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.5s;
  color: #1C1C1C;
  background: #FBB03B;
}

#hero .btn-get-started:hover {
  background: #1C1C1C;
  color: #FBB03B;
  font-size: 22px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    max-width: 50%;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
@media (max-width: 380px) {
  #hero .hero-img img {
    max-width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
